{%extends "base.html"%}
{%load bootstrap4%}
{% load staticfiles %}
{%block content%}
<div id="about" class="section md-padding">
    <div class="container">
        <div class="row">
            {% for contact in contacts %}
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                <div class="about">
                    <h2>{{contact.title}}</h2>
                    <h3>{{contact.email}}</h3>
                    <h3>{{contact.contact}}</h3>
                    <h3>{{contact.location}}</h3>
                </div>
            </div>
            {% empty %}

            <h3 class="text-center">There are no Business Posts yet</h3>
        
           {% endfor %}
        </div>
    </div>
</div>
{%endblock%}