{%extends "registration/base.html"%}
{% block content %}
{%load bootstrap4%}

<div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form  action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                          <input type="submit" class="btn" value="Sign Up">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                    <p class="loginhere">Have already an account ? <a href="/accounts/login" class="loginhere-link">Login here</a></p>
                </div>
            </div>
        </section>

    </div>
{%endblock%}