{%extends "registration/base.html"%}
{% block content %}
{%load bootstrap4%}

<div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form  action="/accounts/login/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                          <input type="submit" class="btn" value="Log In">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                    <p class="loginhere">Don't already an account ? <a href="/accounts/register" class="loginhere-link">Register here</a></p>
                </div>
            </div>
        </section>

    </div>
{%endblock%}

